/* Split the screen in half */
.split {
  height: 90%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 10;
  overflow-x: hidden;
  padding-top: 20px;
}
.pay__button > button {
  top: 210%;
}

/* Control the left side */
.left {
  left: 0;
  background-color: whitesmoke;
}
.left > button {
  margin-left: 100px;
  margin-top: 100px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #9ad8d8;
  border-radius: 10px;
  cursor: pointer;
}
/* Control the right side */
.right {
  right: 0;
  background-color: whitesmoke;
  border-left: 1px solid #00acb1;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#abc {
  box-sizing: content-box;
  width: 300px;
  height: 100px;
  padding: 30px;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 75px;
  margin-top: 100px;
}
.right > button {
  margin-left: 100px;
  margin-top: 100px;
  border: none;
  outline: none;
  padding: 10px;
  background-color: #9ad8d8;
  border-radius: 10px;
  cursor: pointer;
}
